fastapi[standard]
fastapi-users[sqlalchemy,oauth]
uvicorn[standard]
browser-use
crewai
# crewai[tools]
groq
langchain-groq
langchain-openai
langchain-google-genai
copilotkit
sqlmodel
asyncpg
alembic
passlib[bcrypt]
pyjwt
python-dotenv
pydantic
pydantic-settings
pydantic[email]
greenlet
psycopg2-binary
pytest
pytest-asyncio
pytest-mock
httpx
pytest-cov